@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgba(231, 230, 230, 0.7);
}

header {
  display: flex;
  justify-content: space-evenly;
  /* padding: 1rem; */
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #fff;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* margin-bottom: 5rem; */
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  padding: 10px 30px;
  list-style: none;
  font-size: 1.5rem;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: #555;
  color: #fff;
  padding: 14px 20px;
  border-radius: 14px;
}

nav a.active {
  color: #d9534f;
  border-bottom: 3px solid #d9534f;
  font-weight: bold;
}

.info {
  display: flex;
  align-items: center;
  margin: 0 10%;
  gap: 10px;
}

.info img {
  width: 70px;
  height: 80px;
  overflow: hidden;
}

.info h1 {
  font-size: 2.5rem;
}

.info p {
  font-size: 1.25rem;
  color: #333;
}

.contect {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background: #fff;
  padding: 1.25rem;
  width: 1200px;
  margin: 3% auto;
  border-radius: 12px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.1);
}

.name-email {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.name-email input {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 10px;
  /* border: none; */
}

.contect textarea {
  width: 100%;
  height: 90px;
  resize: none;
  border-radius: 10px;
  padding: 10px;
}

button {
  padding: 1rem;
  width: 100px;
  font-size: 1.25rem;
  text-transform: capitalize;
  background-color: rgba(255, 68, 0, 0.7);
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button:hover {
  background-color: orange;
}

@media (max-width: 850px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px 0;
  }

  .contect {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .name-email {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }

  input {
    width: 100%;
  }
}
